body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c3cee2;
    color: #000;
    font-family: Arial, sans-serif;
}

.selection-screen {
    width: 30vw;
    height: 15vw;
    text-align: center;
    background-color: #b8c1d2;
    border-radius: 10%;
}

.selection-screen h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.selection-screen button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #b23f3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selection-screen button:hover {
    background-color: #2980b9;
}

.game-container {
    position: relative;
    width: 800px;
    height: 600px;
    border: 2px solid #fff;
    background-color: #a8d2ff;
    overflow: hidden;
    border-radius: 10px;
}

#bubble-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    user-select: none;
}

#score, #missed {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#missed {
    top: 50px;
    color: red;
}
#game-over{
    background-color: #7171e6;
    width: 19vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
}
